[report]
omit =
    */site-packages/nipy/*
    */site-packages/matplotlib/*
    */site-packages/nibabel/*
    */site-packages/joblib/*
    */site-packages/sklearn/*
    */site-packages/pygraph/*
    */site-packages/sympy/*
    */site-packages/scipy/*
    */site-packages/dateutil/*
    */site-packages/PIL/*
    */site-packages/nose/*
    */site-packages/munkres/*
    */site-packages/Pillow/*
